<!--    <div class="row">
       <div class="col-xs-12">
         <p> {{ title }} </p>
            <ul>
                <li style="display:flex" class="list-group-item">
                    <div style="width:20px; height:20px" [ngStyle]="{'background-color': getColor()}"></div>
                </li>

                <button class="btn btn-success"
                    [disabled]="!isConnected"
                    (click)="onDisplayMessage()"> 
                    Valider 
                </button>

                <input type="text" class="form-control" [(ngModel)]="title">
                
            </ul>
        </div>
    </div> -->